:root {
    --blu-principale: #007bff; /* Blu principale */
    --blu-scuro: #0056b3; /* Blu scuro per evidenziare parti importanti */
    --blu-chiaro: #cce0ff; /* Blu chiaro per sfondo */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    text-align: center; /* Centratura del testo */
}

header {
    background-color: var(--blu-principale);
    color: white;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 20px auto; /* Centratura del contenuto */
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1, h2, h3 {
    color: var(--blu-scuro);
}

.bio, .skills, .education, .projects, .contact-form-section {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.bio p, .skills ul, .education ul, .projects .project p {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

ul li:hover {
    transform: scale(1.05);
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#contact-button {
    background-color: var(--blu-principale);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-button:hover {
    background-color: var(--blu-scuro);
}

#contact-form {
    display: none; /* Initially hidden */
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: var(--blu-principale);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#contact-form button:hover {
    background-color: var(--blu-scuro);
}

.view-projects-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--blu-principale);
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.view-projects-btn:hover {
    background-color: var(--blu-scuro);
}

footer {
    background-color: var(--blu-principale);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.skills ul, .education ul {
    margin-top: 10px;
}

.skills ul li, .education ul li {
    background-color: var(--blu-chiaro);
    padding: 10px;
    border-radius: 5px;
}

.project {
    background-color: var(--blu-chiaro);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form-section {
    margin-bottom: 150px; /* Assicura che il footer non copra il modulo di contatto */
}

.projects:hover {
    transform: translateY(-3px); /* Sposta leggermente verso l'alto al passaggio del mouse */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .contact-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .icon {
        margin-bottom: 5px;
    }
}
